* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../images/bg.jpg) no-repeat center center / cover;
}

header {
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-family: 'Press Start 2P', cursive;
    color: #333;
    background-color: rgba(255, 255, 255, 0.75);
}

#playerName {
    font-size: 1rem;
}

#container-time p {
    font-size: 14px;
}

#grade {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
    position: relative;
    width: 150px;
}

button {
    margin-top: 30px;
    padding: 12px;
    font-weight: 700;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px orange;
    background-color: orange;
}

@media (max-width: 550px) {
    header {
        padding: 1rem;
        width: 358px;
        font-size: 8px;
    }

    #playerName {
        font-size: 12px;
    }

    #container-time p {
        font-size: 10px;
    }

    #grade {
        gap: 6px;
    }

    img {
        width: 85px;
        height: auto;
    }
}