* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,
h3 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
}

h3 {
    margin-top: 20px;
    margin-bottom: 100px;
}


#grade {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
    width: 150px;
}