* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
}

h1,
h3 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #333;
}

h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

#grade {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
    width: 150px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 12px;
    }
    
    img {
        width: 85px;
        height: auto;
    }
}